/*body / header*/
	@import url(https://fonts.googleapis.com/css?family=Francois+One);
	body{
		font-family: 'Francois One', sans-serif;
		margin: 0 auto;
		width: 960px;
		background: url(../_images/backgroun_chuva2.jpg) no-repeat fixed;
		box-shadow: 0px 0px 10px rgba(0,0,0,.5)
	}

	header{
		background: url(../_images/imagem-cabecalho.jpg);
		height: 258px;
		border-bottom: 1px solid black;
	}

/*menu-principal*/

	nav {
		width: inherit;
		height: inherit;
	}
	nav#menu {
		display: block;
	}

	nav#menu li {
		background-color: #dddddd;
		display: inline-block;
		padding: 7px;
	}

	nav#menu ul {
		position: relative;
		margin: auto;
		left: 552px;
		top: 221px;
	}

	nav#menu h1 {
		display: none;
	}

	nav#menu li :hover{
		color: #E50600;
	}

	nav#menu a {
		text-decoration: none;
		color: black;
		transition: color 1s;
	}

/*section principal*/

	section#principal{
		text-indent: 10px;
		text-align: justify;
		float: left;
		background-color: rgb(244,244,244);
		display: block;
		border-right: 1px black solid;
		width: 550px;
		margin-left: 0;
		margin-bottom: 0;
	}

	section#principal h1{
		text-align: center;
		color: #606060;
		margin-top: 0;
		padding: 0 auto 5px auto;
	}

	section#principal h2{
		text-align: center;
		color: #606060;
		background-color: #dddddd;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	
	section#principal p.noticia{
		margin-bottom: 0;
	}
	section#principal p.data{
		margin-top: 0;
		font-size: 12px;
	}

	section#principal p.fonte{
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 12px;
	}

	section#principal p{
		border-bottom: 0;
	}

	section#principal h1,h2,p{
		margin-left: 20px;
		margin-right: 20px;
		padding: 0 10px 0 10px;
	}

	section#principal img{
		margin-left: 19px;
		border: 5px rgba(0,0,0,.02) solid;
		box-shadow: 0px 0px 1px black;
	}
	
/*aside barra-lateral*/
	aside#barra-lateral h1{
		text-align: center;
		color: #606060;
		margin-top: 0;
		padding: 0 auto 5px auto;
	}
	
	aside#barra-lateral h2{
		text-align: center;
		color: #606060;
		background-color: #dddddd;
		margin-top: 4px;
		margin-bottom: 8px;
	}
	aside{
		display: block;
		float: right;
		width: 409;
		background-color: rgb(244,244,244);
	}

	aside iframe{
		margin-right: 20px;
		margin-left: 20px;
		width:370px;
		margin-bottom: 20px;
	}

div{
	background: rgb(244,244,244);
}

/*footer*/
	footer{
		background-color: rgb(244,244,244);
		display: block;
		clear: both;
	}
		
	footer p{
		border-top: 1px black solid;
		text-align: center;
	}
